body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:389px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:26px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:59px;
  width:290px;
  height:26px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:290px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:401px;
  width:26px;
  height:290px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:137px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:449px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:84px;
  width:290px;
  height:449px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:216px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:84px;
  width:290px;
  height:30px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:286px;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:91px;
  width:13px;
  height:13px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
