body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:26px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:26px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:290px;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:342px;
  width:26px;
  height:290px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:137px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:449px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:290px;
  height:449px;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:216px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
  background:inherit;
  background-color:rgba(116, 189, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:290px;
  height:30px;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:286px;
  word-wrap:break-word;
}
#u314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:32px;
  width:13px;
  height:13px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:132px;
  width:209px;
  height:22px;
  text-align:left;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:205px;
  word-wrap:break-word;
}
#u318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:87px;
  width:119px;
  height:27px;
  text-align:left;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
